<extend name="Base/common" />
<block name="body">
<style type="text/css">
.use_intro{ margin:20px;}
.use_intro p{ font-size:16px; line-height:50px; color:#333;}
.use_intro p.title{ font-size:20px; padding-bottom:30px; color:#F00}
.use_intro img{ width:100%; box-shadow:0 0 3px #666;}
</style>
  <div class="span9 page_message">
    <section id="contents">
      
      <div class="tab-content"> 
       	<div class="use_intro">
        	<p class="title">你还没开通多客服功能，请按以下步骤进行开通</p>
        	<p>1、进入微信后台添加多客服功能：</p>
        	<img src="{:ADDON_PUBLIC_PATH}/intro_1.png"/>
            <p>2、添加多客服功能后，添加工号、下载客户端、或查看更加详细的使用说明：</p>
            <img src="{:ADDON_PUBLIC_PATH}/intro_2.png"/>
        </div>

      </div>
    </section>
  </div>
</block>
<block name="script">
</block>
