<include file="./Addons/Paiqian/View/default/Wap/_head.html"/>
<body>
<div class="container">
	<header class="header">
        <a class="back" href="javascript:;" onClick="$.WeiPHP.back();"></a>
        <span class="title">公告提醒</span>
        <a class="cate" href="javascript:;" onClick="$.WeiPHP.showPopCate();"></a>
    </header>
    <include file="./Addons/Paiqian/View/default/Wap/_menu.html"/>
    <div class="page">
    	<div class="news_detail hd">
            <div class="content">
            	功能稍后开放
            </div>
        </div>
        
    </div>
    <include file="./Addons/Paiqian/View/default/Wap/_service.html"/>
</div>
<script type="text/javascript">
</script>
<include file="./Addons/Paiqian/View/default/Wap/_foot.html"/>