<include file="./Addons/Paiqian/View/default/Wap/_head.html"/>
<body>
<div class="container">
	<header class="header">
        <a class="back" href="javascript:;" onClick="$.WeiPHP.back();"></a>
        <span class="title">客服</span>
        <a class="cate" href="javascript:;" onClick="$.WeiPHP.showPopCate();"></a>
    </header>
    <include file="./Addons/Paiqian/View/default/Wap/_menu.html"/>
    <div class="page">
    	<div class="hd service_content">
        	<P class="title"><img src="__STATIC__/paiqian/phone_icon.png"/>电话客服</P>
        	<div class="content">
            	 <p>服务热线:0755-12345678</p>
                 <p>服务时间:每周一到周五 9:00 - 18:00</p>
            </div>
        </div>
        <div class="hd service_content">
        	<P class="title"><img src="__STATIC__/paiqian/wechat_icon.png"/>微信客服</P>
            <div class="content">
            	
                <p class="title">请关注<span class="orange">人事代理</span>公众号,点击“微信客服”进入微信客服。</p>
                <p><img src="__STATIC__/paiqian/qrcode.jpg" width="50%"></p>
                <p class="small">长按二维码—>识别二维码—>关注公众号</p>
                
            </div>
        </div>       
        
    </div>
    <include file="./Addons/Paiqian/View/default/Wap/_service.html"/>
</div>
<script type="text/javascript">
</script>
<include file="./Addons/Paiqian/View/default/Wap/_foot.html"/>