<include file="./Addons/Paiqian/View/default/Wap/_head.html"/>
<body>
<div class="container">
	<header class="header">
        <a class="back" href="javascript:;" onClick="$.WeiPHP.back();"></a>
        <span class="title">停缴提交成功</span>
        <a class="cate" href="javascript:;" onClick="$.WeiPHP.showPopCate();"></a>
    </header>
    <include file="./Addons/Paiqian/View/default/Wap/_menu.html"/>
    <div class="page">
    	
        <div class="weui_msg">
            <div class="weui_icon_area"><i class="weui_icon_success weui_icon_msg"></i></div>
            <div class="weui_text_area">
                <h2 class="weui_msg_title">提交成功！</h2>
                <p class="weui_msg_desc">我们将尽快处理，请内心等待!</p>
            </div>
            <include file="./Addons/Paiqian/View/default/Wap/_sub_content.html"/>
            
        </div>
       
        
    </div>
    <include file="./Addons/Paiqian/View/default/Wap/_service.html"/>
</div>
<script type="text/javascript">
</script>
<include file="./Addons/Paiqian/View/default/Wap/_foot.html"/>