body {
font: normal 15px auto "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
color: #4f6b72;
}
#headindex
{
background-image: url(../images/list_title_bg1.gif);
height:38px;
margin-top:0px;
margin-left:0px;
width:99%;
text-align:left;
font-size:12px;
border-bottom-color:#999999; border-bottom-style:inset; border-bottom-width:1px; padding:10px 0 0 10px;
}

#searchCondition{
margin-left:200px;
margin-top:20px;
margin-bottom:20px;

}


#displayTable {
padding: 0;
margin: 0;
}


th{
font: bold 12px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
color: #4f6b72;

letter-spacing: 2px;
text-transform: uppercase;
text-align:center;

background: #CAE8EA;
}

/*th.nobg {

border-top: 0;
border-left: 0;
border-right: 1px solid #C1DAD7;
background:#C1DAD7;
}
*/
/*td {

font-size:12px;
padding: 0px 0px 0px 1px;
color: #4f6b72;
height:25px;
background: #fff;
}*/

td.edit{
background-color: #99CCCC;

color:#000000;
}

td.alt {
background: #F5FAFA;
color: #797268;
}

th.spec {
border-left: 1px solid #C1DAD7;
border-top: 0;
background: #fff url(images/bullet1.gif) no-repeat;
font: bold 13px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
}

th.specalt {
color:#99CC33;
border-left: 1px solid #C1DAD7;
border-top: 0;
background:#394D86;
font: bold 13px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;

}
/*---------for IE 5.x bug*/
html>body td{ font-size:12px;}

#foot
{
background-image: url(../images/list_title_bg1.gif);
width:100%;
height:35px;
padding-top:5px;

}

.button{
float:left;
font-size:12px;
color: #99FF66;
padding-top:10px;
}

.index{
float:right;
font-size:12px;
color: #9999CC;
padding-top:10px;
}

a:link {
	color: #3366CC;
}
a:visited {
	color: #3366CC;
}
a:hover {
	color: #3366CC;
}
a:active {
	color: #3366CC;
}