<script type="text/html" id="pop_cate">


<div class="pop_cate">

<div class="Pop-ups_div"></div>


            <section class="index_cate" style="background:#171717;">
        <ul class="cate_lists cate_pop_up">
            <li class="cate_cancel_l">
            <a class="item item_color shake_a_shake item_m" href="{:U('lastSalaryDetail')}">
            
            
                 <div class="auto_down">
                            <img class="img_Width_i blue_img" src="/weixin/Public/static/WorkerService/query_blue.png" alt="">
                      </div>
                <span class="txt">工资查询</span>
            </a>
            </li>
            <li class="cate_cancel_r">
            <a class="item item_color item_m" href="{:U('proveList')}">
                <span class="icon" style="margin-bottom: 12px;"><i style="margin-top: 5px;height: 52px;" class="fa fa-pencil-square-o fa-5x fa-x"></i></span>
                <span class="txt">开具证明</span>
            </a>
            </li>
            
            
         </ul>
       <ul class="cate_lists cate_pop_up">
        <li class="cate_cancel_l">
            <a class="item item_color item_m" href="{:U('groom')}">
                <span class="icon" style="margin-bottom: 10px;">
                <i class="fa fa-lightbulb-o fa-5x fa-x" style="font-size: 3.7em;"></i>
                
                </span>
                <span class="txt">招聘信息</span>
            </a>
            </li>
            <li class="cate_cancel_r">
            <a class="item item_color item_m" href="{:U('userCenter')}">
               
                
                 <div class="auto_down">
                            <img class="img_Width_i blue_img" src="/weixin/Public/static/WorkerService/user_blue_border.png" alt="">
                      </div>
                <span class="txt">个人中心</span>
            </a>
            </li>
            </ul>
        </section>
    <center><br/><a href="javascript:;" class="close"><img src="__STATIC__/paiqian/close_page.png" width="50"/></a></center>
</div>
</script>
</body>
</html>