<include file="./Addons/WorkerService/View/default/Wap/_head.html"/>


<body>
<div class="container">
    <header class="header">
        <a class="back" href="javascript:;" onClick="$.WeiPHP.back();"></a>
        <span class="title">关于我们</span>
        <a class="cate" href="javascript:;" onClick="$.WeiPHP.showPopCate();"></a>
    </header>
<div class="page" style="margin-bottom: 30%;">
            <p class="logo_img logo_img_bor">
                <a href="{:U('index')}"><img src="/weixin/Public/static/paiqian/logo_img3.png" width="30%"></a>
            </p>
            <div class="news_detail hd hd_B">
                <p class="p_font">
                    公司简介
                </p>
                <div class="content">
                    <p class="text text_content">
                        深圳市鑫锦程人力资源管理有限公司成立于2006年8月，注册地址位于深圳市罗湖区湖贝路华佳广场，是由深圳市人事局及工商局批准注册的，具有独立法人的专业人力资源服务机构，注册资本3000万元。
                    </p>
                    <p class="text text_service">
                        公司成立十年来，一直致力于创办以市场需求和客户需求为导向的专业人力资源服务机构。倡导以人为本、专业、诚信、卓越的企业精神，奉行观念创新、管理创新、服务创新的经营理念，核心业务有：劳务派遣、业务外包、代理招聘，人力资源管理、社保代理服务等。
                    </p>
                    <p class="text text_time">
                        经过十年的艰苦卓绝、波澜不惊的创业实践，鑫锦程公司与一大批物流龙头企业及政府事业单位建立了长期战略合作关系，在行业内享有良好的信誉，得到了社会各方的认可与肯定。
                    </p>
                </div>
            </div>
        </div>
	
	
  
<include file="./Addons/WorkerService/View/default/Wap/_menu.html"/>
	





<include file="./Addons/WorkerService/View/default/Wap/_foot.html"/>
