<include file="./Addons/WorkerService/View/default/Wap/_head.html"/>

<body>

<div class="container">
    <header class="header">
        <a class="back" href="javascript:;" onClick="$.WeiPHP.back();"></a>
        <span class="title">招聘推荐规则</span>
        <a class="cate" href="javascript:;" onClick="$.WeiPHP.showPopCate();"></a>
    </header>
<div class="page" style="margin-bottom: 30%;">
            <p class="logo_img logo_img_bor">
                <a href="{:U('index')}"><img src="/weixin/Public/static/paiqian/logo_img3.png" width="30%"></a>
            </p>
            <div class="news_detail hd news_content">
                <div class="air2"></div>
                <div class="content">
                    <p class="text text_channel">
                        本微信平台的招聘推荐服务主要是为鑫锦程员工向家属及亲朋好友提供专业、便捷的招聘渠道。
                    </p>
                    <p class="text_set">
                        奖励设置：
                    </p>
                    <p class="text_ct">
                        根据不同职位的推荐会有对应不同的奖励金额，具体金额请留意招聘信息。
                    </p>
                    <p class="text_Objects">
                        推荐对象：
                    </p>
                    <p class="text_ct">
                        可以是您的家人及朋友（<span class="spam_red">声明：一旦发现是本公司在职员工，则不予以录用</span>）。
                    </p>
                    <p class="text_set">
                        客服登记：
                    </p>
                    <p class="text_ct" style="margin-bottom: 0;">
                        请返回到下方界面的右下角点击“客服”联系招聘专员。
                    </p>
                    <div class="weixin_img">
                        <img style="width: 100%;" src="/weixin/Public/static/WorkerService/contcat.png" alt="">
                    </div>
                    <p class="text_ct">
                        或致电82385383转6352登记推荐对象及招聘岗位信息，以便预约面试。
                    </p>
                </div>
            </div>
        </div>
<include file="./Addons/WorkerService/View/default/Wap/_btn_groom.html"/>
	


</form>







<include file="./Addons/WorkerService/View/default/Wap/_foot.html"/>
