<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>修改密码</title>
</head>
<body>
    <from name="" action="{U:(editPwd)}" method="post" onsubmit="return check()">
        <table>
            <tr>
                <td>输入密码</td>
                <td><input type="text" id="pwd" name="newPwd"></td>
            </tr>
            <tr>
                <td>确认密码</td>
                <td><input type="text" id="pwd1" name="newPwd1"/></td>
            </tr>
            <tr>
            	<td clospan="2"><input type="submit" value="确定" /><td>
            </tr>
        </table>
    </from>

    <script type="text/javascript" >
		function check(){
			if($('#pwd').val()==$('#pwd1').val()){
				return true;
			}else{
				alert("两次输入的密码不一致")
				return　false;
			}

		}
		$(".updatePwd").click(function(){
            $.ajax({
                type: "post",
                url: "{U:(editPwd)}",
                data: $pwd:$('#pwd1').val();
                dataType: "json",
                error: function(html){
                    alert('ajax提交出错,请联系系统管理员!');
                },
                success: function(data){
                    location.reload();
              }
            });

        });
    </script>
</body>

</html>