<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>演示：PHP+Ajax邮箱找回密码</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link rel="stylesheet" type="text/css" href="http://www.sucaihuo.com/jquery/css/common.css" />
    <style type="text/css">
        .demo h3{line-height:24px; text-align:center; color:#360; font-size:16px}
        .demo p{line-height:30px; padding:4px}
        .demo p span{margin-left:6px; color:#f30}
    </style>
</head>
<body>
<div class="head">
    <div class="head_inner clearfix">
        <ul id="nav">
            <li><a href="http://www.sucaihuo.com">首 页</a></li>
            <li><a href="http://www.sucaihuo.com/templates">网站模板</a></li>
            <li><a href="http://www.sucaihuo.com/js">网页特效</a></li>
            <li><a href="http://www.sucaihuo.com/php">PHP</a></li>
            <li><a href="http://www.sucaihuo.com/site">精选网址</a></li>
        </ul>
        <a class="logo" href="http://www.sucaihuo.com"><img src="http://www.sucaihuo.com/Public/images/logo.jpg" alt="素材火logo" /></a>
    </div>
</div>
<div class="container">
    <div class="demo">
        <h2 class="title"><a href="http://www.sucaihuo.com/js/326.html">教程：PHP+Ajax邮箱找回密码</a></h2>
        <p style="text-align:center; color:#f30; margin:30px 0">
            如果提示邮箱未注册，请先
            <a target="_blank" href="http://www.sucaihuo.com/jquery/3/325/demo/">注册激活帐号</a>
            。
        </p>
        <p>用户可以通过邮箱找回密码</p>
        <p><strong>输入您注册的电子邮箱，找回密码：</strong></p>
        <p  style="margin:20px 0"><input type="text" class="input" name="email" id="email"/><span id="chkmsg"></span></p>
        <p><input type="button" class="btn" id="sub_btn" value="提 交"/></p>

    </div>
</div>
<div class="foot">
    Powered by sucaihuo.com  本站皆为作者原创，转载请注明原文链接：<a href="http://www.sucaihuo.com" target="_blank">www.sucaihuo.com</a>
</div>
<script type="text/javascript" src="http://libs.useso.com/js/jquery/1.7.2/jquery.min.js"></script>
<script type="text/javascript">
    $(function() {
        $("#sub_btn").click(function() {
            var email = $("#email").val();
            var preg = /^\w+([-+.]\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*/; //匹配Email
            if (email == '' || !preg.test(email)) {
                $("#chkmsg").html("请填写正确的邮箱！");
            } else {
                $("#sub_btn").attr("disabled", "disabled").val('提交中..').css("cursor", "default");
                $.post("{:U('sendmail')}", {mail: email}, function(msg) {
                    if (msg == "noreg") {
                        $("#chkmsg").html("该邮箱尚未注册！");
                        $("#sub_btn").removeAttr("disabled").val('提 交').css("cursor", "pointer");
                    } else {
                        $(".demo").html("<h3>" + msg + "</h3>");
                    }
                });
            }
        });
    })
</script>
</body>
</html>
