<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div>
    <form name="register" id="register" action="{U:(register)}" method="post">
    <table>
        <tr>
            <td colspan="2">注册</td>
        </tr>
        <tr>
            <td>*用户名:</td>
            <td><input type="text" name="userName" ></td>
        </tr>
        <tr>
            <td>*密码:</td>
            <td><input type="text" name="password" ></td></td>
        </tr>
        <tr>
            <td>密码保护问题:</td>
            <td><input type="text" name="question" ></td></td>
        </tr>
        <tr>
            <td>密码保护答案:</td>
            <td><input type="text" name="answer" ></td></td>
        </tr>
        <tr>
            <td>身份证号码:</td>
            <td><input type="text" name="pID" ></td></td>
        </tr>
        <tr>
            <td>手机号码:</td>
            <td><input type="text" name="tel" ></td></td>
        </tr>
        <tr>
            <td>qq邮箱:</td>
            <td><input type="text" name="email" ></td></td>
        </tr>
        <tr>
            <td>联系地址:</td>
            <td><input type="text" name="address" ></td></td>
        </tr>
        <tr>
            <td>邮政编码:</td>
            <td><input type="text" name="blance" ></td></td>
        </tr>
        <tr>
            <td colspan="2"><input type="button" name="" value="提交"></td>
        </tr>
    </table>
    </form>
</div>
</body>
</html>