<footer class="footer">
<div class="weui_tabbar">
        <a href="{:U('warning')}" class="weui_tabbar_item weui_bar_item_on">
          <div class="weui_tabbar_icon">
              <i  class="fa fa-warning fa-2x"></i>
          </div>
          <p class="weui_tabbar_label">经营预警</p>
        </a>
        <a href="{:U('workerStat')}" class="weui_tabbar_item">
          <div class="weui_tabbar_icon">
              <i  class="fa fa-user-plus fa-2x"></i>
          </div>
          <p class="weui_tabbar_label">入离职报告</p>
        </a>
        <a href="{:U('allowMoney')}" class="weui_tabbar_item ">

            <div class="weui_tabbar_icon">

                <i class="fa fa-rmb fa-2x"></i>
          </div>
          <p class="weui_tabbar_label">费用审批</p>
        </a>
        <a href="{:U('requireMoney')}" class="weui_tabbar_item">
          <div class="weui_tabbar_icon">
              <i class="fa fa-money fa-2x"></i>
          </div>
          <p class="weui_tabbar_label">未收回欠款</p>
        </a>

      </div>

      </footer>