
<include file="./Addons/BusinessAnalysis/View/default/Wap/_head.html"/>


<body>
<div class="container">
    <header class="header">
        <a class="back" href="javascript:;" onClick="$.WeiPHP.back();"></a>
        <span class="title">首页</span>
        <a class="cate" href="javascript:;" onClick="$.WeiPHP.showPopCate();"></a>
    </header>

    <div class="page" style="margin-bottom:15px;">
        <p class="logo_img"><a href="{:U('index')}"><img src="/weixin/Public/static/paiqian/logo_img3.png" width="30%"></a></p>


        <section class="index_cate">
            <ul class="cate_lists" style="border-top: 1px solid #ddd;">
                <li>
                    <a class="item color1 shake_a_shake itme_bor itme_bor_l" href="{:U('warning')}">

                        <span class="icon icon_em"><i style="margin-top: 9px;height: 73px;" class="fa fa-warning fa-5x"></i></span>
                        <span class="txt">经营预警</span>
                    </a>
                </li>
                <li style="border-left: 1px solid #ddd;">
                    <a class="item color2 itme_bor itme_bor_r" href="{:U('workerStat')}">
                        <span class="icon icon_em"><i style="margin-top: 9px;height: 73px;" class="fa fa-user-plus fa-5x"></i></span>
                        <span class="txt">入离职报告</span>
                    </a>
                </li>


            </ul>
            <ul class="cate_lists" style="border-top: 1px solid #ddd;border-bottom: 1px solid #ddd;">
                <li style="border-right: 1px solid #ddd;">
                    <a class="item color3 itme_bor itme_bor_l" href="{:U('allowMoney')}" style="border-top: none;">
                <span class="icon"  style="margin-bottom: 10px;">
                <i class="fa fa-rmb fa-5x"></i>
                 

                </span>
                        <span class="txt">费用审批</span>
                    </a>
                </li>
                <li>
                    <a class="item color4 itme_bor itme_bor_r" href="{:U('requireMoney')}" style="border-top: none;">
                <span class="icon">
               <i class="fa fa-money fa-5x"></i>
                </span>
                        <span class="txt">未收回欠款</span>
                    </a>
                </li>
            </ul>
        </section>


    </div>

    <p class="bottom_tips">鑫锦程人力服务热线：0755-82385383</p>
    <p class="bottom_tips clearance">鑫锦程人力资源管理有限公司版权所有</p>


    <include file="./Addons/BusinessAnalysis/View/default/Wap/_foot.html"/>