<include file="./Addons/BusinessAnalysis/View/default/Wap/_head.html"/>


<body>
<div class="container">
    <header class="header">
        <a class="back" href="javascript:;" onClick="$.WeiPHP.back();"></a>
        <span class="title">未收回欠款</span>
        <a class="cate" href="javascript:;" onClick="$.WeiPHP.showPopCate();"></a>
    </header>

    <div class="page" style="margin-bottom:15px;">
        <p class="logo_img"><a href="{:U('index')}"><img src="/weixin/Public/static/paiqian/logo_img3.png" width="30%"></a>
        </p>

        <div class="wage"></div>
        <div class="user_action_list">
            <div class="weui_cells weui_cells_access">
                <foreach name="list_data" item="vo">
                        <div class="weui_cell muti_inner_cells">
                            <div class="weui_cell_bd weui_cell_primary">
                                <p>{$vo.unitName}</p>
                            </div>
                            <div class="weui_cell_ft">
                                <if condition="$vo.soInsMoney lt 0">
                                    <section>
                                        <div class="weui_cell_bd weui_cell_primary">

                                        </div>
                                        <div class="weui_cell">
                                            社保: {$vo.soInsMoney}
                                        </div>
                                    </section>
                                </if>
                                <if condition="$vo.HFMoney lt 0">
                                    <section>
                                        <div class="weui_cell_bd weui_cell_primary">

                                        </div>
                                        <div class="weui_cell">
                                            公积金: {$vo.HFMoney}
                                        </div>
                                    </section>
                                </if>
                                <if condition="$vo.managementCostMoney lt 0">
                                    <section>
                                        <div class="weui_cell_bd weui_cell_primary">

                                        </div>
                                        <div class="weui_cell">
                                            管理费: {$vo.managementCostMoney}
                                        </div>
                                    </section>
                                </if>
                            </div>
                        </div>
                </foreach>

            </div>
            <div class="user_action_list list_top">
                <div class="weui_cells weui_cells_access">
                    <div class="weui_cell_hd"></div>
                    <div class="weui_cell_bd weui_cell_primary">
                        <sction class="weui_cell">
                            <p><span
                                    class="span_num">总计：<br>社保 {$total.soInsMoney} 元 <br>公积金 {$total.HFMoney}  元 <br>管理费{$total.managementCostMoney} 元</span></span>
                            </p>
                        </sction>

                    </div>
                </div>
            </div>


            <include file="./Addons/BusinessAnalysis/View/default/Wap/_menu.html"/>
            <include file="./Addons/BusinessAnalysis/View/default/Wap/_foot.html"/>